
body {
    font-size: 15px;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    margin: 10%;

}

p {
    margin: 10px;
    padding: 5%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    padding: 10% 5%;
}

.car-card {
    width: 50px;
    height: 460px;
    border-radius: 2%;
}

.row {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}



#sedan-card {
    background-color: hsl(31, 77%, 52%);
}

#suv-card {
    background-color: hsl(184, 100%, 22%);
}

#luxury-card {
    background-color: hsl(179, 100%, 13%);
}
